body{
     background-image: url('../Images/a fully furnished surgical room- for service page.webp');
     background-repeat: no-repeat;
     background-size: cover;
     background-blend-mode: overlay;
     height: 100vh;
}

.begining{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 300px;
    height: 250px;
    display: flex;
    border-radius: 15px;
    float: right;
    transition: ease-in-out;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.nav-links{
    padding: 25px;
    text-decoration: none;
    /* border:solid; */
    border-radius: 15px;
    /* background-color: silver; */
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 30px;
    margin: 50px;
}

.nav li{
    list-style-type: none;
}

.nav a{
    text-decoration: none;
}

.accolades{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: left;
}

.intro{
    font-size: large;
    font-weight: bolder;
    font-display: block;
}

/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border: solid 3px white;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* ALL BUTTONS */

/* Login Button */
.login-btn{
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(27, 168, 168);
    width: 200px;
    height: 50px;
    transition: ease-in-out 0.5s;
}

.login-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.login-btn:hover{
    filter: brightness(1.5);
    transform: translateY(-20%);
}

@keyframes button {
    0%{
        background-color: rgb(27, 168, 168);
    }
    50%{
        background-color: rgb(175, 189, 137);
        transform: translateY(-10%);
        border: none;
        box-shadow: 0px 8px 10px 10px rgb(111, 119, 88);
    }
    100%{
        background-color: rgb(27, 168, 168);
    }
}


/* Sign Up Button */

.sign-up-btn{
    width: 200px;
    height: 50px;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(27, 168, 168);
    transition: ease-in-out 0.5s;
}

.sign-up-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sign-up-btn:hover{
    filter: brightness(1.5);
    transform: translateY(-20%);
}

/* Get Started Button */

.get-started-btn{
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(27, 168, 168);
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    transition: ease-in-out 0.5s;
    animation: button 4s ease-in-out infinite;
}


.get-started-btn:hover{
    color: black;
    background-color: white;
    filter: brightness(1.5);
    transform: translateY(-20);
    animation-play-state: paused;
}

