.logo{
    width: 300px;
    height: 250px;
    display: flex;
    border-radius: 15px;
    float: right;
    transition: ease-in-out;
}


.hero{
    margin-left: auto;
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 30px;
    transition: ease-in-out;
}

.hero:hover{
     filter:brightness(1.3)
     transition translate Y(-20)
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body{
     background-image: url('../Images/a fully furnished surgical room- for service page.webp');
     
}

.nav-links{
    padding: 25px;
    text-decoration: none;
    /* border:solid; */
    border-radius: 15px;
    /* background-color: silver; */
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 30px;
    margin: 50px;
}

.nav li{
    list-style-type: none;
}

.nav a{
    text-decoration: none;
}

.accolades{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: left;
}

.intro{
    font-size: large;
    font-weight: bolder;
    font-display: block;
}

/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border: solid 3px white;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.sign-in button{
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(27, 168, 168);
}

.sign-in :hover{
     filter: brightness(1.5);
     transform: translateY(-20);
}
.sign-up button{
    margin: 15px;
    border-radius: 15px;
     background-color: rgb(27, 168, 168);
}

.sign-up :hover{
    filter: brightness(1.5);
    transform: translateY(-20);
}

.started button{
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(27, 168, 168);
}

.started button :hover{
    filter: brightness(1.5);
    transform: translateY(-20);
}

