body{
    background-image: url(../Images/Logo\ design\ for\ Medivance.webp);
    background-color: burlywood;
}

button{
     margin: 15px;
    border-radius: 15px;
    background-color: rgb(27, 168, 168);
}

button :hover{
     filter: brightness(1.5);
     transform: translateY(-20);
}